<div id="editTaskModal"
     class="modal-overlay hidden"
     data-controller="modal"
     data-modal-target="overlay"
     data-action="keydown@window->modal#closeWithKeyboard click->modal#closeBackground">

  <div class="modal-container">
    <div class="modal-content rounded-3xl p-10 space-y-8">

<div class="flex items-center justify-between">
  <%= link_to project_path(@project),
    class: "flex items-center gap-2 text-black hover:opacity-70 transition" do %>
    
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15 19l-7-7 7-7"/>
    </svg>

    <span>Back to project</span>
  <% end %>
</div>


      </div>

      <div class="space-y-1 border-b border-gray-200 pb-4">
        <p class="text-sm text-gray-500">Edit task</p>
        <h2 class="text-2xl text-gray-900"><%= @task.title %></h2>
      </div>

      <div class="space-y-6">
        <%= render 'form', project: @project, task: @task %>
      </div>

    </div>
  </div>
</div>
