[all]
YOUR_EC2_IP_HERE

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/ninesmanager-simple.pem
ansible_python_interpreter=/usr/bin/python3

environment=simple
project_name=ninesmanager
