---
- name: Install rbenv dependencies
  apt:
    name:
      - autoconf
      - bison
      - build-essential
      - libssl-dev
      - libyaml-dev
      - libreadline6-dev
      - zlib1g-dev
      - libncurses5-dev
      - libffi-dev
      - libgdbm6
      - libgdbm-dev
      - libdb-dev
    state: present

- name: Clone rbenv repository
  git:
    repo: https://github.com/rbenv/rbenv.git
    dest: /home/{{ app_user }}/.rbenv
    version: master
  become_user: "{{ app_user }}"

- name: Clone ruby-build repository
  git:
    repo: https://github.com/rbenv/ruby-build.git
    dest: /home/{{ app_user }}/.rbenv/plugins/ruby-build
    version: master
  become_user: "{{ app_user }}"

- name: Add rbenv to bash profile
  lineinfile:
    path: /home/{{ app_user }}/.bashrc
    line: "{{ item }}"
    create: yes
  loop:
    - 'export PATH="$HOME/.rbenv/bin:$PATH"'
    - 'eval "$(rbenv init -)"'
  become_user: "{{ app_user }}"

- name: Install Ruby
  shell: |
    export PATH="$HOME/.rbenv/bin:$PATH"
    eval "$(rbenv init -)"
    rbenv install {{ ruby_version }} --skip-existing
    rbenv global {{ ruby_version }}
  args:
    executable: /bin/bash
  become_user: "{{ app_user }}"
  environment:
    RBENV_ROOT: "/home/{{ app_user }}/.rbenv"

- name: Install bundler
  gem:
    name: bundler
    state: present
    user_install: no
  become_user: "{{ app_user }}"
  environment:
    PATH: "/home/{{ app_user }}/.rbenv/shims:/home/{{ app_user }}/.rbenv/bin:{{ ansible_env.PATH }}"

- name: Create puma systemd service
  template:
    src: puma.service.j2
    dest: /etc/systemd/system/puma.service
    mode: '0644'
  notify: restart puma

- name: Create application environment file
  template:
    src: application.env.j2
    dest: "{{ shared_path }}/config/application.env"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: '0600'

- name: Enable and start puma service
  systemd:
    name: puma
    enabled: yes
    state: started
    daemon_reload: yes
