---
- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Remove default nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: restart nginx

- name: Create nginx site configuration
  template:
    src: nginx-site.conf.j2
    dest: /etc/nginx/sites-available/{{ project_name }}
    mode: '0644'
  notify: restart nginx

- name: Enable nginx site
  file:
    src: /etc/nginx/sites-available/{{ project_name }}
    dest: /etc/nginx/sites-enabled/{{ project_name }}
    state: link
  notify: restart nginx

- name: Create nginx main configuration
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0644'
  notify: restart nginx

- name: Ensure nginx is enabled and started
  systemd:
    name: nginx
    enabled: yes
    state: started
