RAILS_ENV={{ rails_env }}
RACK_ENV={{ rails_env }}
SECRET_KEY_BASE={{ secret_key_base }}
DATABASE_URL={{ database_url }}
REDIS_URL={{ redis_url }}
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
AWS_REGION={{ aws_region }}
S3_BUCKET_NAME={{ s3_bucket_name }}
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
