---
- name: Install PostgreSQL
  apt:
    name:
      - postgresql
      - postgresql-contrib
      - libpq-dev
      - python3-psycopg2
    state: present

- name: Ensure PostgreSQL is started and enabled
  systemd:
    name: postgresql
    state: started
    enabled: yes

- name: Create database user
  become_user: postgres
  postgresql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    role_attr_flags: CREATEDB,NOSUPERUSER

- name: Create database
  become_user: postgres
  postgresql_db:
    name: "{{ db_name }}"
    owner: "{{ db_user }}"
    encoding: UTF-8
    lc_collate: en_US.UTF-8
    lc_ctype: en_US.UTF-8
    template: template0

- name: Configure PostgreSQL to listen on localhost
  lineinfile:
    path: /etc/postgresql/14/main/postgresql.conf
    regexp: "^#?listen_addresses"
    line: "listen_addresses = 'localhost'"
  notify: restart postgresql

- name: Configure pg_hba for local connections
  blockinfile:
    path: /etc/postgresql/14/main/pg_hba.conf
    marker: "# {mark} ANSIBLE MANAGED - Rails app"
    block: |
      local   {{ db_name }}    {{ db_user }}                              md5
      host    {{ db_name }}    {{ db_user }}    127.0.0.1/32            md5
  notify: restart postgresql

- name: Create backup directory
  file:
    path: /var/backups/postgresql
    state: directory
    owner: postgres
    group: postgres
    mode: '0755'

- name: Create backup script
  template:
    src: backup-postgres.sh.j2
    dest: /usr/local/bin/backup-postgres.sh
    mode: '0755'

- name: Setup daily backup cron
  cron:
    name: "PostgreSQL daily backup"
    minute: "0"
    hour: "2"
    job: "/usr/local/bin/backup-postgres.sh"
    user: postgres
